/* Common styles for all screen sizes */


.background{
  
  position:absolute;
  top:-10%;
  left:40%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height:100%;
}
.filltext {
  

  
  font-size: 120px;
  color: white;
  background-image: url("https://thumbs.dreamstime.com/b/network-background-19601343.jpg");
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  animation: animate 2s ease-in-out alternate infinite;
}
.auth{
  font-size: larger;
  margin:-60px;
  
}
.auth-input{
  height:30px;
  width:200px;
  
}
.auth-button{
  height:34px;
  width:50px;
  
  border:5px;
  border-radius: 5px;
  background-color: rgb(241,171,83);

}
@keyframes animate {
  from {
    background-position: center 40%;
  }
  to {
    background-position: center 60%;
  }
}
@media screen and (max-width:500px){
  .background{
  
    position:absolute;
    top:-40%;
    left:5%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height:100%;
  }
}
